@charset "UTF-8";

main {
	position: relative;
	min-height: 1560px;
    height: calc(100vh - 180px);
    overflow: hidden;
}

.ripple {
	position: relative;
}

.ripple.active::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	margin-top: -50%;
	margin-left:-50%;
	content: "";
	background-color: #98999c;
	border-radius: 100%;
	opacity: 0;
	animation: ripple 0.3s 1 ease-out;
}

#backspaceBtn.ripple.active::after {
	background-color: #ff616d;
}

#submitBtn.ripple.active::after {
	background-color: #91d796;
}

@keyframes ripple {
  0% {
    opacity: 1;
    transform: scale(0.0);
  }
  100% {
    opacity: 0;
    transform: scale(1.0);
  }
}

.center {
	position: absolute;
	margin: auto;
	height: fit-content;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

/*******************
	HowToPlay
********************/
#howto {
	overflow: visible;
	padding: 0 30px;
}

#howto>div {
	padding-bottom: 420px;
}

#howto h2 {
	text-align: center;
	font-size: 100px;
}

#howto dt {
	font-size: 42px;
	margin-top: 30px;
	margin-bottom: 20px;
}


#howto dd {
	font-size: 36px;
}

#howto dd .panel {
	margin-left: 50px;
}

/*******************
	初期画面
********************/
#levelFormWrapper {
	transition: all .4s;
	visibility: hidden;
	opacity: 0;
}

#levelFormWrapper.active {
	visibility: visible;
	opacity: 1;
}

#numFormWrapper {
	transition: all .4s;
	visibility: hidden;
	opacity: 0;
}

#numFormWrapper.active {
	visibility: visible;
	opacity: 1;
}

#levelForm {
	display: flex;
    flex-direction: column;
    align-items: center;
}

.guideText {
	font-size: 60px;
    border-bottom: solid 3px;
    width: fit-content;
    margin: auto;
    margin-bottom: 60px;
}

.levelBtn {
	height: 160px;
    width: 500px;
    border-radius: 70px;
    font-size: 80px;
    margin-bottom: 40px;
    background-color: #2A2B2E;
    border: 3px solid #5F6368;
    color: #E8EAED;
}

.levelBtn.ripple.active::after {
	position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    margin-top: -77px;
    margin-left: -50%;
    content: "";
    background: #98999c;
    border-radius: 70px;
    opacity: 0;
    animation: ripple 0.3s 1 ease-out;
}

/*******************
	ゲーム画面
********************/
#numPanelList,
#ansPanelList {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0;
	margin: 0 auto;
	width: 600px;
}

#numPanelList {
	margin-bottom: 100px
}

.panel,
.numPanel {
	background-color: #2A2B2E;
    font-size: 100px;
    text-align: center;
    line-height: 1.68em;
    height: 160px;
    width: 160px;
    border: 3px solid #5F6368;
    border-radius: 50%;
    margin: 16px;
    padding: 0;
    box-sizing: border-box;
}

#numFormWrapper.error {
	animation: errorAnime .3s;
}

@keyframes errorAnime {
    0% {
        transform: translate(0px, 0px) rotateZ(0deg)
    }
    10% {
        transform: translate(20px, 20px) rotateZ(1deg)
    }
    20% {
        transform: translate(0px, 20px) rotateZ(0deg)
    }
    30% {
        transform: translate(20px, 0px) rotateZ(-1deg)
    }
    40% {
        transform: translate(0px, 0px) rotateZ(0deg)
    }
    50% {
        transform: translate(20px, 20px) rotateZ(1deg)
    }
    60% {
        transform: translate(0px, 0px) rotateZ(0deg)
    }
    70% {
        transform: translate(20px, 0px) rotateZ(-1deg)
    }
    80% {
        transform: translate(0px, 20px) rotateZ(0deg)
    }
    90% {
        transform: translate(0px, 0px) rotateZ(0deg)
    }
    100% {
        transform: translate(0px, 0px) rotateZ(0deg)
    }
}

#backspaceBtn {
	background-color: #ff1744;
	border: 3px solid #ff4569;
}

#submitBtn {
	background-color: #4caf50;
	border: 3px solid #6fbf73;
}

#ansPanelList {
	margin-bottom: 80px;
}

.ansPanel {
	font-size: 150px;
	text-align: center;
	line-height: 1.3em;
	width: 150px;
	height: 180px;
	border-bottom: 2px solid #5F6368;
	margin: 10px;
	position: relative;
}

#selected::after {
	position: absolute;
	top: 20px;
	left: 20px;
	content: "";
	width: 110px;
	height: 140px;
	background-color: rgba(100, 100, 100, 0.5);
	animation: fadeInOut 1s ease-in infinite alternate forwards running;
}

@keyframes fadeInOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

.material-symbols-rounded {
	font-size: 110px;
	color: #ddd;
    line-height: 1.4em;
}

/*******************
	ログ画面
********************/
#logPanel {
	position: fixed;
	bottom: -80vh;
	box-sizing: border-box;
	width: 100vw;
	height: 80vh;
	border-top: solid 3px #5F6368;
	background-color: #2A2B2E;
	transition: bottom .6s ease-out;
	z-index: 99999999;
}

#logPanel.active {
	bottom: 0;
}

#logHeader {
	font-size: 72px;
	width: fit-content;
	margin: 72px auto 30px auto;
	border-bottom: solid 3px;
}

#logWrapper {
	display: flex;
	justify-content: center;
}

#logWrapper>div {
	box-sizing: border-box;
	width: 50%;
	height: calc(80vh - 540px);
	margin-top: 24px;
}

#logWrapper>div>p {
	font-size: 51px;
	margin: 0;
	text-align: center;
}

#logWrapper dl {
	overflow-x: hidden;
	overflow-y: scroll;
	height: calc(100% - 80px);
}
#logWrapper dl dt{
	position: relative;
	margin-top: 20px;
}

#logWrapper dl dt::before {
	content: "";
	height: 3px;
	width: 50%;
	background-color: #5F6368;
	position: absolute;
	top: -10px;
	left: 50%;
	transform: translate(-50%);
}

#logWrapper dl::-webkit-scrollbar {
  width: 7px;
}
#logWrapper dl::-webkit-scrollbar-thumb {
  background: #ddd;
  border-radius: 5px;
}
#logWrapper dl::-webkit-scrollbar-track {
  background: #555;
}

#logWrapper dl * {
	font-size: 42px;
	text-align: center;
	margin-inline-start: 0;
}

#logCloseBtn {
    position: absolute;
	left: 0;
    right: 0;
    margin: auto;
    bottom: 100px;
}

/*******************
	攻撃アニメーション
********************/
#resultPanel {
	transition: all .4s;
	visibility: hidden;
	opacity: 0;
}

#resultPanel.active {
	visibility: visible;
	opacity: 1;
}

#userResult,
#comResult,
#startMes,
#gameResult {
	visibility: hidden;
	opacity: 0;
}

#userResult.active,
#comResult.active,
#startMes.active,
#gameResult.active {
	visibility: visible;
	opacity: 1;
}

.resultHeader {
	text-align: center;
    width: 100%;
    overflow: hedden;
    background-color: #2A2B2E;
}

.resultHeader::before,
.resultHeader::after {
	box-sizing: content-box;
	background-color: #202124;
	position: absolute;
	margin: auto;
	content: "";
	height: 50%;
	width: 100%;
	left: 0;
	right: 0;
	z-index: 10;
}

.resultHeader::before {
	border-bottom: solid 25px;
	top: -20px;
}

.resultHeader::after {
	border-top: solid 25px;
	bottom: -20px;
}

#userResult .resultHeader::before,
#userResult .resultHeader::after {
	animation: resultAnime 8s ease forwards;
}

#comResult .resultHeader::before,
#comResult .resultHeader::after {
	animation: resultAnime 8s ease 8s forwards;
}

#startMes .resultHeader::before,
#startMes .resultHeader::after {
	animation: startAnime 3s ease forwards;
}

@keyframes resultAnime {
	0% {
		height: 50%;
	}
	12% {
		height: 0%;
	}
	88% {
		height: 0%;
	}
	100% {
		height: 50%;
	}
}

@keyframes startAnime {
	0% {
		height: 50%;
	}
	32% {
		height: 0%;
	}
	68% {
		height: 0%;
	}
	100% {
		height: 50%;
	}
}

.resultHeader h2 {
	font-size: 80px;
	margin: 100px 0;
}

#userResult .resultHeader h2 {
	animation: resultHeaderAnime 3s ease-in-out forwards;
}

#comResult .resultHeader h2 {
	animation: resultHeaderAnime 3s ease-in-out 8s forwards;
}

#startMes .resultHeader h2 {
	animation: resultHeaderAnime 3s ease-in-out forwards;
}

@keyframes resultHeaderAnime {
	0% {
		transform: translateX(500px);
		opacity: 0;
	}
	40% {
		transform: translateX(0);
		opacity: 1;
	}
	60% {
		transform: translateX(0);
		opacity: 1;
	}
	100% {
		transform: translateX(-500px);
		opacity: 0;
	}
}

.result p {
	position: absolute;
	width: fit-content;
	font-size: 70px;
	margin: auto;
	left: 0;
	right: 0;
}

.result p:first-child {
	top: -20px;
	opacity: 0;
}

#userResult .result p:first-child {
	animation: resultNumAnime 1.5s ease-in-out 3s forwards;
}

#comResult .result p:first-child {
	animation: resultNumAnime 1.5s ease-in-out 11s forwards;
}

@keyframes resultNumAnime {
	0% {
		transform: translate(500px, -70px);
		opacity: 0;
		font-size: 120px;
	}
	50% {
		transform: translate(0, -70px);
		opacity: 1;
	}
	70% {
		transform: translate(0, -70px);
		font-size: 120px;
	}
	100% {
		transform: translate(0, -80px);
		opacity: 1;
		font-size: 70px;
	}
}

.result span {
	display: inline-block;
	position: absolute;
	width: max-content;
	opacity: 0;
}

.result p:last-child span:first-child {
	left: -200px;
}

#userResult .result p:last-child span:first-child {
	animation: resultHitblowAnime .3s ease-in 5s forwards;
}

#comResult .result p:last-child span:first-child {
	animation: resultHitblowAnime .3s ease-in 13s forwards;
}

#userResult .result p:last-child span:last-child {
	animation: resultHitblowAnime .3s ease-in 5.3s forwards;
}

#comResult .result p:last-child span:last-child {
	animation: resultHitblowAnime .3s ease-in 13.3s forwards;
}

@keyframes resultHitblowAnime {
	0% {
		opacity: 0;
		font-size: 250px;
	}
	80% {
		opacity: 1;
		font-size: 70px;
		transform: translate(0px, 0px) rotateZ(0deg);
	}
	84% {
        transform: translate(20px, 20px) rotateZ(2deg);
    }
    88% {
        transform: translate(0px, 20px) rotateZ(-2deg);
    }
    92% {
        transform: translate(20px, 0px) rotateZ(0deg);
    }
    96% {
        transform: translate(0px, 20px) rotateZ(2deg);
    }
    100% {
        transform: translate(0px, 0px) rotateZ(0deg);
        opacity: 1;
		font-size: 70px;
    }
}

/*******************
	リザルト画面
********************/
#gameResult .resultHeader::before,
#gameResult .resultHeader::after {
	animation: resultAnime 8s ease 16s forwards;
}

#gameResult .resultHeader h2 {
	animation: resultHeaderAnime 3s ease-in-out 16s forwards;
}

#gameResult .result p:first-child {
	animation: resultNumAnime 1.5s ease-in-out 19s forwards;
}

#gameResult .result p:last-child span:first-child {
	animation: resultHitblowAnime .3s ease-in 21s forwards;
}

#gameResult .result p:last-child span:last-child {
	animation: resultHitblowAnime .3s ease-in 21.3s forwards;
	line-height: 250px;
	margin-top: -75px;
}

#gameResult .result p:last-child {
    display: flex;
    justify-content: center;
}

#gameResult p span {
	position: relative;
	left: 0;
	right: 0;
}

#gamesetPanel {
	transition: all .4s;
	visibility: hidden;
	opacity: 0;
	text-align: center;
}

#gamesetPanel.active {
	visibility: visible;
	opacity: 1;
}

#gamesetPanel h2 {
	font-size: 100px;
	margin: 0;
}

#winlose p {
	font-size: 100px;
	margin: 0;
    margin-bottom: 56px;
}

#secretCodes,
#durationTime {
	margin-bottom: 56px;
}

#secretCodes h3,
#durationTime h3 {
	font-size: 60px;
	margin: 0;
	margin-bottom: 20px;
}

#secretCodes p,
#durationTime p {
	font-size: 50px;
	margin: 0px;
}

#buttons {
	transition: opacity .5s;
	visibility: hidden;
	opacity: 0;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 600px;
}

#buttons.active {
	visibility: visible;
	opacity: 1;
}

.popup {
	overflow: hidden;
}

.popup span {
	position: relative;
	bottom: -150px
}

h2.popup span {
	animation: popup .5s ease 24.5s forwards;
}

#winlose .popup span {
	animation: popup .5s ease 25.25s forwards;
}

#secretCodes .popup span {
	animation: popup .5s ease 26s forwards;
}

#durationTime .popup span {
	animation: popup .5s ease 26.75s forwards;
}

@keyframes popup {
	0% {
		bottom: -150px;
	}
	100% {
		bottom: 0;
	}
}

